.app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #dedede;
    height: 100px;
    background: rgb(33, 33, 33);
    text-align: center;
}

.app-footer .footer-text {
    line-height: 4em;
}